<app-button class="{{colClasses}}">
  {{#if buttonWithA}}
    <a href="{{buttonLink}}" target="{{target}}" class="btn {{className}}">
      {{buttonText}}
    </a>
  {{else}}
    <button type="button" class="btn {{className}}">
      {{buttonText}}
    </button>
  {{/if}}
</app-button>